.justified {
    text-align: justify
}

.marginTB {
    margin: 5vh 0 15vh 0
}

.background {
    background: url('../../assets/pics/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}